In [2]:
import pandas as pd
import numpy as np

In [3]:
lines = tuple(open('summary/grep.txt', 'r'))

In [4]:
cols = ['lamda','split','t','acc','valacc','loss','a','b','obj']

In [5]:
ress = []
for i in range(int(len(lines)/3)):
    a = lines[3*i].split('_')[2:-1]
    b = lines[3*i+1].split(',')
    res = a+b
    res = [float(el) for el in res]
    ress.append(res)

In [6]:
df = pd.DataFrame(ress, columns=cols)

In [7]:
df[(df.split==0) & (df.t==100)]

,lamda,split,t,acc,valacc,loss,a,b,obj
0,-10.0,0.0,100.0,0.698780,17.399593,0.132207,0.000585,0.001081,0.120692
100,-12.0,0.0,100.0,0.696341,17.359756,0.137930,0.000486,0.006577,0.110449
200,-14.0,0.0,100.0,0.717480,17.892277,0.125472,0.000475,0.009255,0.099372
300,-2.0,0.0,100.0,0.533740,13.179675,0.183612,0.000351,0.000008,0.202737
400,-4.0,0.0,100.0,0.635366,15.802439,0.145154,0.000613,0.000032,0.182060
500,-6.0,0.0,100.0,0.684146,17.075203,0.133171,0.000630,0.000065,0.150123
600,-8.0,0.0,100.0,0.708130,17.556503,0.130977,0.000621,0.000001,0.131096
700,0.0,0.0,100.0,0.521951,12.753252,0.183057,0.000378,0.000038,0.209510
800,2.0,0.0,100.0,0.508537,12.550813,0.183552,0.000385,0.000051,0.231038

In [10]:
df.groupby(['split','t'])['acc'].max().reset_index().to_csv("t_splits_acc.csv")

In [18]:
df.to_csv("t.csv")

In [ ]:
lines = tuple(open('summary/grep.txt', 'r'))